<div class="vslide">
  <div class="vslide-title">
    <p style="font-family: Protomolecule; font-size: 2.3em; line-height: 90%; margin: 0px auto; text-align: center; width: 100%;"><span style="letter-spacing: .04rem;">programmierung</span><br><span style="letter-spacing: .0rem;">und datenbanken</span></p>
<p class="author" style="font-family: Protomolecule; margin: 0px auto;  text-align: center; width: 100%; font-size: 1.2em;">Joern Ploennigs</p>
<p class="subtitle" style="font-family: Protomolecule; margin: 1em auto; text-align: center; width: 100%; font-size: 1.2em;">SQL Select</p>
  </div>
<script>
  function setSectionBackground(c,v){
    let e=document.currentScript.previousElementSibling;
    while(e&&e.tagName!=='SECTION')e=e.parentElement;
    if(e){
      if(c)e.setAttribute('data-background-color',c);
      if(v){
        e.setAttribute('data-background-video',v);
        e.setAttribute('data-background-video-loop','true');
        e.setAttribute('data-background-video-muted','true');
      }
    }
  }
  setSectionBackground('#000000', 'images/10c_Datenbanken_SQL_Select/mj_title.mp4');
</script>
<style>
.flex-row{display:flex; gap:2rem; align-items:flex-start; justify-content:space-between;}
.flex-row .col1{flex:1; min-width:10px}
.flex-row .col2{flex:2; min-width:10px}
.flex-row .col3{flex:3; min-width:10px}
.flex-row .col4{flex:4; min-width:10px}
.flex-row .col5{flex:5; min-width:10px}
.flex-row .col6{flex:6; min-width:10px}
.flex-row .col7{flex:7; min-width:10px}
.vcent{display:flex; align-items:center; justify-content:center}
</style>
</div>

# Tabellen mit SQL analysieren

![](images/10c_Datenbanken_SQL_Select/mj_title.png)

> If you think you understand SQL, you‚Äôre probably wrong.
>
> - C. J. Date

## <a href="/lec_slides/10c_Datenbanken_SQL_Select.slides.html">Folien</a>
<iframe src="/lec_slides/10c_Datenbanken_SQL_Select.slides.html" width="750" height="500"></iframe>

## Ablauf

![](images/partB_2.svg)

## Praxisbeispiel

Informationen sind in der Praxis meist √ºber verschiedene Systeme und Tabellen verteilt und m√ºssen oft zusammengef√ºhrt verarbeitet werden, um daraus anwendbares Wissen abzuleiten.

Die Hansestadt Rostock bietet zum Beispiel viele relevante Daten f√ºr Bau- und Umweltingenieure auf dem [OpenData Portal Rostock](https://www.opendata-hro.de).

Dort erhalten wir zum Beispiel:
- die [Liste aller Baustellen](https://www.opendata-hro.de/dataset/baustellen)
- die [Liste aller Strassen und Adressen](https://www.opendata-hro.de/dataset/adressenliste)
- die [Liste aller Gemeinden](https://www.opendata-hro.de/dataset/gemeinden_mecklenburg-vorpommern) 
<!-- - die [Liste aller Bodenrichtwerte](https://www.opendata-hro.de/dataset/bodenrichtwerte_2022)

Die Bev√∂lkerungsdichte der Bezirke wiederum erhalten wir auf der Landesseite (https://www.laiv-mv.de/Statistik/Zahlen-und-Fakten/Gesellschaft-&-Staat/Bevoelkerung/). 

# Siehe https://www.opendata-hro.de/dataset/bodenrichtwerte_2022
with urllib.request.urlopen(f'https://geo.sv.rostock.de/download/opendata/bodenrichtwerte_2022/bodenrichtwerte_2022.csv') as f:
    bodenrichtwerte=pd.read_csv(f, usecols=["gesl", "genu", "ortst", "wnum", "gema", "flae", "typ", "brw", "nuta", "entw", "geometrie_wkt"])
bodenrichtwerte.head()

# Siehe https://www.laiv-mv.de/Statistik/Zahlen-und-Fakten/Gesellschaft-&-Staat/Bevoelkerung/
with urllib.request.urlopen(f'https://www.laiv-mv.de/static/LAIV/Statistik/Dateien/Publikationen/A%20I%20Bev%C3%B6lkerungsstand/A123/2022/A123%202022%2021.xlsx') as f:
    bevoelkerung=pd.read_excel(f.read(), sheet_name="2", header=1, usecols=range(7), skiprows=range(2,9)) # w√§hle Blatt 2, die ersten 7 Spalten und √ºberspringe Zeilen 2-9
bevoelkerung.columns=[c.replace("-\n", "").replace("\n", "") for c in bevoelkerung.columns] # entferne Zeilenumbr√ºche in den Spaltennamen
bevoelkerung.head()

-->

Wie in den letzten Beispielen gezeigt k√∂nnen wir uns die Daten auch sehr einfach in Python herunter laden und anzeigen. Daf√ºr nutzen wir das CSV Format das auf den Webseiten angeboten wird und die Python Pakete `urllib` und `pandas`. Wir √∂ffnen zuerst die Datei im Internet mit `urllib.request.urlopen` und laden sie dann in Pandas als Tabelle mit `pd.read_csv(f)`. Zuletzt zeigen wir die ersten 5 Zeilen der Tabelle mit `.head()` an.

In [ ]:
import urllib.request
import pandas as pd

In [ ]:
# Siehe https://www.opendata-hro.de/dataset/baustellen
with urllib.request.urlopen(f'https://geo.sv.rostock.de/download/opendata/baustellen/baustellen.csv') as f:
    baustellen = pd.read_csv(f, usecols=["latitude", "longitude", "strasse_schluessel", "sparte", "von", "nach", "baubeginn", "bauende", "verkehrsbeeintraechtigungen", "baumassnahme"]) #, parse_dates=["baubeginn", "bauende"]
baustellen.head()

In [ ]:
# Siehe https://geo.sv.rostock.de/download/opendata/adressenliste
with urllib.request.urlopen(f'https://geo.sv.rostock.de/download/opendata/adressenliste/adressenliste.csv') as f:
    adressenliste=pd.read_csv(f, usecols=["gemeinde_schluessel", "gemeindeteil_name", "strasse_name", "strasse_schluessel", "hausnummer", "hausnummer_zusatz", "postleitzahl"])
adressenliste.head()

In [ ]:
# Siehe https://www.opendata-hro.de/dataset/gemeinden_mecklenburg-vorpommern
with urllib.request.urlopen(f'https://geo.sv.rostock.de/download/opendata/gemeinden_mecklenburg-vorpommern/gemeinden_mecklenburg-vorpommern.csv') as f:
    gemeinden=pd.read_csv(f, usecols=["kreis_name", "kreis_schluessel", "gemeindeverband_name", "gemeindeverband_schluessel", "gemeinde_name", "gemeinde_schluessel", "st_transform"])
gemeinden.head()

Wenn wir die Tabellen vergleichen, so stellen wir fest, dass alle eine etwas andere Struktur haben und meist nur einen Teil der Informationen erhalten. Wollen wir zum Beispiel wissen was die Bev√∂lkerungsdichte in den Stadtbezirken mit Baustellen ist, so l√§ssen sich dieses Wissen nicht sofort ableiten.

## Tabellen in SQLite speichern mit Pandas

Um diese Daten langfristig zu speichern wollen wir uns eine Datenbank anlegen. Da die Daten ja bereits als Tabellen vorliegen, nutzen wir eine relationale Datenbank. Eine sehr einfache, lokale relationale Datenbank, die ohne Server auskommt ist SQLite. Sie ist bereits in Python enthalten. Wir erzeugen uns eine neue Datenbank indem wir eine Verbindung zu einer neuen Datenbankdatei anlegen.

In [ ]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("opendatahro.sqlite")

Wir schauen uns sp√§ter an wie wir Tabellen direkt mit SQL erzeugen. Pandas hat diese Funktion bereits eingebaut, so dass wir unsere Tabelle direkt in der SQLite Datenbank speichern k√∂nnen.

In [ ]:
baustellen.to_sql("baustellen", con, if_exists="replace")
adressenliste.to_sql("adressenliste", con, if_exists="replace")
gemeinden.to_sql("gemeinden", con, if_exists="replace")

## Daten aus Tabellen abfragen mit `SELECT`

SQL ist die Standartsprache um mit relationalen Datenbanken zu arbeiten. Sie bietet verschiedene Befehle um Tabellen zu definieren, Daten in ihnen zu speichern als auch die Daten abzufragen. Letzteres wird mit dem `SELECT` Befehl gemacht. SQL orientiert sich dabei etwas an nat√ºrlicher Sprache. Man fragt in SQL quasi nach den Daten aus (`FROM`) einer bestimmten Tabelle . Um zum Beispiel alle Spalten aus einer Tabelle abzufragen nutzen wir den Befehl mit dem Platzhalter `*` (=alle Spalten).

In [ ]:
sql='SELECT * FROM baustellen;'

Um den SQL Befehl an die Datenbank zu senden, erzeugen wir aus unserer Datenbankverbindung `con` einen neuen Cursor `cur`. Mit `cur.execute(sql)` f√ºhren wir den SQL Befehl aus und die Datenbank sendet und die Datenbank f√§ngt an uns alle Ergebnisse der Anfrage Zeile f√ºr Zeile zur√ºck zu senden. Der Cursor zeigt dabei immer auf die aktuelle Zeile. Damit will man vermeiden alle Daten, welche sehr (sehr) viele Zeilen sein k√∂nnen, auf einmal zu senden und damit ggf. das Netzwerk oder das Programm zu √ºberlasten.

In [ ]:
cur = con.cursor()

rows=cur.execute(sql)
for row in rows:
    print(row)
print(type(row))

Wie wir sehen erhalten wir jede Zeile als Tuple zur√ºck. Dabei kennen wir in diesem Fall nicht die Spaltennamen der Werte. Wir k√∂nnen diese vom Cursor abfragen mit

In [ ]:
cur.description

Meist fragt man allerdings nicht alle Spalten einer Tabelle mit dem Platzhalter `*` ab, sonder gibt geziehlt die Spalten an, die man erhalten m√∂chte. So kann man unn√∂tigen Datenverkehr spaaren.

In [ ]:
sql='SELECT strasse_schluessel, sparte, latitude, longitude, baumassnahme FROM baustellen;'
for row in cur.execute(sql):
    print(row)

## Filtern von Ergebnissen mit `WHERE`

Oft will man nur bestimmte Zeilen aus einer Tabelle in einer Datenbank abrufen. Diese Auswahl definiert man mit dem SQL Befehl `WHERE` und zus√§tzlichen logischen Vergleichsoperatoren.

Wollen wir zum Beispiel nur die Baustellen haben die einen Baubegin in 2023 haben, so k√∂nnen wir definieren

In [ ]:
sql='''SELECT strasse_schluessel, sparte, latitude, longitude, baumassnahme, baubeginn, bauende
       FROM baustellen
       WHERE baubeginn >= '2023-01-01 00:00:00+01';'''
for row in cur.execute(sql):
    print(row)

Mehrere Bedingungen k√∂nnen durch logische Operatoren wie 'AND', 'OR' oder 'NOT' verkn√ºpft werden. Wollen wir alle Baustellen die im 1 Quartal 2023 angefangen und beendet werden, so schreiben wir

In [ ]:
sql='''SELECT strasse_schluessel, sparte, latitude, longitude, baumassnahme, baubeginn, bauende
       FROM baustellen
       WHERE baubeginn >= '2023-01-01 00:00:00+01' AND bauende < '2024-04-01 00:00:00+01';'''
for row in cur.execute(sql):
    print(row)

## Daten Aggregieren

Da die Ergebnisse Zeile f√ºr Zeile √ºbertragen werden, ist die Anzahl der Ergebnisse auch nicht unbedingt vorher bekannt. Deshalb unterst√ºtzen alle relationale Datenbanken die Aggregatfunktion `count(*)`, um die Anzahl der Zeilen der Ergebnisse zur√ºck zu geben.

In [ ]:
sql='SELECT count(*) FROM baustellen;'

for row in cur.execute(sql):
    print(row)

Hier erhalten wir nur eine Ergebniszeile zur√ºck, mit der Anzahl der Zeilen in der Tabelle.

Dar√ºber hinaus unerst√ºtzt SQL viele Aggregierfunktionen. Wollen wir zum Beispiel in unserem Beispieldatensatz die minimalen Baubeginn aller Baustellen identifizieren nutzen wir die `min()`-Funktion mit dem entsprechenden Spaltennamen.

In [ ]:
sql='SELECT min(baubeginn) FROM baustellen;'

for row in cur.execute(sql):
    print(row)

Wieder erhalten wir ein Ergebnis mit dem Datum. Das entscheidende ist, dass diese Aggregatfunktionen direkt in der Datenbank ausgef√ºhrt wird. Wir m√ºssen also nicht alle Daten runterladen, um einfache Kennwerte wie die Anzahl, das Minimum oder Maximum von Spalten zu erhalten. Dabei k√∂nnen wir auch mehrere Aggregierungen in einer Anfrage und mathematische Berechnungen ausf√ºhren. Das folgende Beispiel gibt uns die Anzahl der Baustellen sowie den minimalen Baubeginn und das maximale Bauende sowie die Baudauer. Die Baudauer berechnen wir direkt in der Datenbank als den arithmethischen Durchschnitt `avg` der Differenz zwischen Bauende und Baubeginn in Tagen im Julianischen Kalender.

In [ ]:
sql='''SELECT sparte, count(*), min(baubeginn), max(bauende), avg(JulianDay(bauende)-JulianDay(baubeginn))
       FROM baustellen;'''

for row in cur.execute(sql):
    print(row)

## Statistiken Extrahieren mit Aggregieren von Gruppen, Sortieren und Limitieren

Das letzte Beispiel zeigt bereits, wie wir SQL nutzen k√∂nnen um Statistiken der Daten in einer Datenbank zu berechnen. Das wird besonders dann interessant, wenn wir das mit Gruppierungen kombinieren. Gruppierungen fassen die abgefragten Zeilen in der Tabelle entlang den angegebenen Spaltennamen als Gruppe zusammen. Wollen wir zum Beispiel wissen, wie lange im Durchschnitt die Dauer der Baustellen je nach `sparte` ist, so k√∂nnen wir diese Spalte als Gruppe definieren und die mittleren Baudauer f√ºr jede Gruppe bestimmen. Daf√ºr bietet SQL den Befehl `GROUP BY` an, hinter dem wir die Spalte angeben nach welcher gruppiert werden soll.

In [ ]:
sql='''SELECT sparte, count(*), min(baubeginn), max(bauende), avg(JulianDay(bauende)-JulianDay(baubeginn))
       FROM baustellen 
       GROUP BY sparte;'''

for row in cur.execute(sql):
    print(row)

Wir sehen jetzt, dass 'Hochbau' die gr√∂√üte Gruppen mit 29 Zeilen (Baustellen) bildet, gefolgt von Stra√üenbau mit 14 Zeilen. Hochbau braucht Hochbau mit 507 Tagen fast doppelt so lange wie Strassenbau mit 274 Tagen. 

(Da wir die Daten tagesaktuell von Opendata-HRO laden, k√∂nnen sich diese Beispielzahlen im Verlauf der Zeit durchaus √§ndern).

Um die Ergebnisse zu sortieren bietet SQL den `ORDER BY` Befehl. Wollen wir die Ergebnisse nach der Dauer absteigend (`DESC`) sortieren, so schreiben wir:

In [ ]:
sql='''SELECT sparte, count(*), min(baubeginn), max(bauende), avg(JulianDay(bauende)-JulianDay(baubeginn)) as Baudauer 
       FROM baustellen 
       GROUP BY sparte
       ORDER BY Baudauer DESC;'''  # ASC - Aufsteigend, DESC - Absteigend

for row in cur.execute(sql):
    print(row)

Sind wir jetzt nur an der Top 3 interessiert, so k√∂nnen wir mit `LIMIT` die Anzahl an Ergebnissen die maximal zur√ºck gegeben werden.

In [ ]:
sql='''SELECT sparte, count(*), min(baubeginn), max(bauende), avg(JulianDay(bauende)-JulianDay(baubeginn)) as Baudauer 
       FROM baustellen 
       GROUP BY sparte
       ORDER BY Baudauer DESC
       LIMIT 3;'''

for row in cur.execute(sql):
    print(row)

## Daten aus mehreren Tabellen verkn√ºpfen und gleichzeitig abfragen mit `JOIN`

In unserm Beispiel kennen wir nicht die Stra√üennamen der Baustelle, sondern nur eine obskure ID namens `strasse_schluessel`. Diese finden wir auch in der Tabelle `adressenliste` zusammen mit dem gesuchten Stra√üennamen. Wir m√ºssen also nun eine Abfrage √ºber beide Tabellen gemeinsam durchf√ºhren, um auch die Stra√üe f√ºr die Baustellen zu erfahren. Daf√ºr nutzt man den SQL Befehl `JOIN` und gibt an wo (`WHERE`) die Ergebnisse zusammenzuf√ºhren sind indem man eine Gleichheitsbedingung spezifiziert. Da die Spalte `strasse_schluessel` in beiden Tabellen vorkommt und es nicht ganz eindeutig ist auf welche man sich bezieht, gibt man jetzt auch bei den Spaltennamen die Tabelle mit der Dotnotation mit an, also:

In [ ]:
sql='''SELECT baustellen.strasse_schluessel, baustellen.sparte, baustellen.latitude, baustellen.longitude, baustellen.baumassnahme, baustellen.baubeginn, baustellen.bauende, 
              adressenliste.gemeindeteil_name, adressenliste.strasse_name 
       FROM baustellen 
       JOIN adressenliste 
       WHERE baustellen.strasse_schluessel=adressenliste.strasse_schluessel;'''
for row in cur.execute(sql):
    print(row)

Da diese st√§ndige Wiederholung der Tabellennamen sehr schreiblastig ist, kann man in SQL mit dem Befehl `AS` auch k√ºrzere Namen f√ºr Spalten und Tabellen verwenden

In [ ]:
sql='''SELECT b.strasse_schluessel, b.sparte, b.latitude, b.longitude, b.baumassnahme, b.baubeginn, b.bauende, 
              a.gemeindeteil_name, a.strasse_name 
       FROM baustellen AS b 
       JOIN adressenliste AS a
       WHERE b.strasse_schluessel=a.strasse_schluessel;'''
for row in cur.execute(sql):
    print(row)

Jetzt kommt es allerdings zu vielen Dopplungen in unseren Ergebnissen, da jede Ergebniszeile aus der Tabelle `baustellen` mit jeder Zeile aus der Tabelle `adressenliste` wiederholt wird, weil in der letzteren ja eine Stra√üe mit dem gleichen `strasse_schluessel` mehrmals vorkommt. Diese Duplikate wollen wir rausfiltern mit dem SQL Befehl `DISTINCT`

In [ ]:
sql='''SELECT DISTINCT b.strasse_schluessel, b.sparte, b.latitude, b.longitude, b.baumassnahme, a.gemeindeteil_name, a.strasse_name 
       FROM baustellen AS b
       JOIN adressenliste AS a
       WHERE b.strasse_schluessel=a.strasse_schluessel;'''
for row in cur.execute(sql):
    print(row)

Jetzt kennen wir schon den richtigen Stra√üenname zu jeder Baustelle, allerdings fehlt uns die Gemeinde. Hierf√ºr verkn√ºpfen wir die Daten mit der Tabelle
`gemeinden`. Daf√ºr erg√§nzen wir die zus√§tzliche Tabelle im `JOIN` und definieren die weitere Verkn√ºpfungsbedingung auf die Spalte `gemeinde_schluessel`.

In [ ]:
sql='''SELECT DISTINCT b.strasse_schluessel, b.sparte, b.latitude, b.longitude, b.baumassnahme, a.gemeindeteil_name, a.strasse_name, g.gemeinde_name
       FROM baustellen AS b
       JOIN adressenliste AS a, gemeinden AS g
       WHERE b.strasse_schluessel=a.strasse_schluessel AND a.gemeinde_schluessel=g.gemeinde_schluessel;'''
for row in cur.execute(sql):
    print(row)

Es gibt [verschiedene Typen von Joins](https://www.w3schools.com/sql/sql_join.asp) je nachdem ob man nur die Ergebnisse haben will f√ºr die es:
- Eintr√§ge in beiden Tabellen gibt (INNER, Default)
- Eintr√§ge in mindestens der ersten Tabelle gibt (RIGHT)
- Eintr√§ge in mindestens der zweiten Tabelle gibt (LEFT)
- Eintr√§ge in mindestens der zweiten Tabelle gibt (OUTER)

Der `NATURAL JOIN` Typen vereinfachen die Schreibarbeit. Beim `NATURAL JOIN` werden dabei die Spalten gematcht, welche identisch hei√üen. Er funktioniert somit nur wenn die Spalten in den zu matchenden Tabellen identisch hei√üen und alle anderen Spalten andere Namen haben, was eher seltener der Fall ist.

In [ ]:
sqlNJ='''SELECT DISTINCT strasse_schluessel, sparte, latitude, longitude, baumassnahme, gemeindeteil_name, strasse_name, gemeinde_name
       FROM baustellen
       NATURAL JOIN adressenliste, gemeinden;'''
for row in cur.execute(sqlNJ):
    print(row)

:::{warning}
Es funktioniert auch in diesem Beispiel nicht. Es werden zwar Ergebnisse zur√ºck gegeben, allerdings, deutlich mehr als im letzten Join. Die Gemeinden werden hier kreuzkombiniert. Man sieht also, dass der `NATURAL JOIN` mit Vorsicht zu benutzen ist.
:::

## Daten mit SQL und Pandas abfragen und mit GeoJSON visualisieren

Wir haben am Anfang ja die Tabellen in der SQLite Datenbank bereits mit Pandas erzeugt. Wir k√∂nnen Pandas auch nutzen um Daten aus einer SQL Anfrage direkt als Dataframe (Pandas Tabelle) zu laden. 

F√ºgen wir einmal die Beispiele zusammen und lassen uns alle Baustellen mit Strasse und Gemeinde im ersten Quartal 2023 auf einer Karte anzeigen. Die SQL Abfrage dazu sieht wie folgt aus

In [ ]:
sql='''SELECT DISTINCT b.strasse_schluessel, b.sparte, b.latitude, b.longitude, b.baumassnahme, b.baubeginn, b.bauende, a.gemeindeteil_name, a.strasse_name, g.gemeinde_name
       FROM baustellen AS b
       JOIN adressenliste AS a, gemeinden AS g
       WHERE b.strasse_schluessel=a.strasse_schluessel AND a.gemeinde_schluessel=g.gemeinde_schluessel
         AND b.baubeginn >= '2023-01-01 00:00:00+01' AND b.bauende < '2024-04-01 00:00:00+01';'''

Wir f√ºhren die SQL Abfrage direkt mit der Pandas Funktion `pd.read_sql(sql, con)` aus und erzeugen uns einen DataFrame der die gew√ºnschten Daten enth√§lt.

In [ ]:
baustellen_mit_strasse = pd.read_sql(sql, con)
baustellen_mit_strasse


Die Tabelle enth√§lt ja bereits die Latitude und Longitude. Mit dem Paket `pandas_geojson` k√∂nnen wir aus den Dataframe in ein GeoJSON FeatureCollection umwandeln. Wir installieren zuerst das Paket mit pip.

In [ ]:
pip install pandas_geojson --quiet

In [ ]:
from pandas_geojson import to_geojson

geo_json = to_geojson(df=baustellen_mit_strasse, lat='latitude', lon='longitude',
                 properties=['strasse_name','sparte','baumassnahme', 'baubeginn', 'bauende'])

Jetzt k√∂nnen wir uns die Baustellen  mit dem schon bekannten Paket `geojsonio` auf einer Karte visualisieren.

In [ ]:
import json
import geojsonio

geojsonio.display(json.dumps(geo_json))

![Baustellen](images/baustellen.png)

## Datenbanken Definition 

<div class="alert alert-block alert-success">
<b>üìò Definition: Datenbank</b>

Unter einer *Datenbank (DB)* versteht man die logisch zusammengeh√∂renden Daten, die von einem *DBMS (Datenbankmanagementsystem)* verwaltet werden
</div>

<div class="alert alert-block alert-success">
<b>üìò Definition: Datenbanksystem</b>

Datenbank und Datenbankmanagementsystem zusammen bezeichnet man als *Datenbanksystem*
</div>

Zur Datenbank geh√∂ren neben den reinen 'Nutzdaten' auch die f√ºr die Verwaltung vom Datenbankmanagementsystem angelegten Objekte (beispielsweise Indizes und Logdateien)

## Warum bringen wir Geld ‚Äûauf die Bank"?

<div class="flex-row">
  <div class="col4">

- Zentrale und langfristige Aufbewahrung
- Sicherung vor Verlusten
- Effizienz durch spezielles Dienstleistungsangebot (Dauerauftr√§ge, Portfolio, ‚Ä¶)
- √úbersicht behalten
- Vernetzung mit dem globalen Finanznetzwerk

  </div>
  <div class="col6"> 
    <figure class="mj-fig">
        <img src="images/10_Datenbanken/mj_thief.png" class="mj-fig-img">
        <figcaption class="mj-fig-cap">
            Midjourney: thief breaking into a bank safe
        </figcaption>
    </figure>
  </div>
</div>

## Warum bringen wir Daten auf die ‚ÄûBank"? 

- *Effizienter* speichern und laden von Daten durch verschiedenen Clients (Webserver, Ger√§te, etc.)
- *Verwaltung* von sehr (sehr) gro√üen Datenmengen (Skalierbarkeit)
- *Organisation* der Daten in vorgegebene Datenstrukturen (Normalisierung)
- *Langfristiges* speichern der Daten (Persistierung)
- *Schnelles* suchen der Daten durch Indexierung
- *Abgesicherte* Prozesse zum √Ñndern der Daten (Transaktionen)
- *Nachvollziehbares* Ver√§ndern von Daten durch Transaktions-Logs
- *Automatische* Datenanalyse (OLAP)

## Grundkonzepte Dateien

- Struktur: Jede Anwendung strukturiert die Daten entsprechend der darin vorkommenden Datenarten (Format, Struktur ‚Ä¶).
- Dateisystem: Jede Anwendung legt die Daten entsprechend seiner Anforderungen (Zugriff, Endung, Ort ‚Ä¶) ab.

![](images/10_Datenbanken/basic_files.svg)

## Grundkonzepte Datenbanken

- Struktur: Alle Anwendung nutzen die gleiche Struktur die in der Datenbank modelliert wurde
- Dateisystem: Alle Anwendungen greifen auf die gleichen Daten zu. Zugriffe werden durch Transaktionen synchronisiert und protokolliert.

![](images/10_Datenbanken/basic_database.svg)

## Die Codd'schen Regeln (Codd, 1985, 1990) 

- *Integration*: einheitliche, nichtredundante Datenverwaltung
- *Operationen*: Speichern, Suchen, √Ñndern
- *Katalog*: Zugriffe auf Datenbankbeschreibungen im Data Dictionary
- *Benutzersichten*: Jeder Nutzer sieht die Daten die er sehen darf in der Art wie er sie sehen m√∂chte
- *Integrit√§tssicherung*: Korrektheit des Datenbankinhalts
- *Datenschutz*: Ausschluss unauthorisierter Zugriffe, nur berechtigte Nutzer
- *Transaktionen*: mehrere DB-Operationen als Funktionseinheit (ganz oder gar nicht)
- *Synchronisation*: parallele Transaktionen koordinieren
- *Datensicherung*: Wiederherstellung von Daten nach Systemfehlern

## Datenbanken Typen - √úbersicht

![Verteilung der Datenbanktypen](images/10_Datenbanken/databases.svg)

## Relationale Datenbanken 

*RDBMS* werden bereits seit Anfang der 1980er Jahre verwendet und basieren auf dem relationalen (=tabellenorientierten) Datenmodell
- Das Schema einer Tabelle (=Relationenschema) ist definiert durch den Tabellennamen und eine fixe Anzahl von Attributen (=Spalten) mit entsprechenden Datentypen
- Da Daten in Tabellen organisiert werden, sind sie stark strukturiert mit einer durch die Tabelle definierten Struktur (Normalisierung)
- Die Standardsprache zum Aufbau/√Ñnderung/L√∂schen ist *SQL*

- Popul√§rste Systeme: Oracle | MySQL | Microsoft SQL Server | PostgreSQL | IBM Db2

## NoSQL Datenbanken 

*NoSQL* Datenbankmanagementsysteme sind Datenbanken die kein relationales (=tabellenorientierten) Datenmodell verwenden und damit in der Regel auch kein SQL unterst√ºtzen

- Sie finden seit etwa *2009* zunehmend Verbreitung

- Popul√§rste Systeme: MongoDB | CouchDB | Cassandra | Redis | Neo4j | Amazon DynamoDB | HBase | OrientDB

- *Hauptgr√ºnde*:
  - Hohe Anforderungen an Skalierbarkeit
  - Fehlertoleranz moderner Web-Applikationen
  - Big Data Szenarien
  - Daten sind oft nur semi-strukturiert (lassen sich nicht in ein Schema pressen)

## Dokumentenorientierte Datenbanken 

*Document Stores* zeichnen sich durch eine *schemafreie* Organisation der Daten aus:

- Datens√§tze haben keine einheitliche Struktur
- Die Typen der Werte einzelner Spalten k√∂nnen pro Datensatz unterschiedlich sein
- Spalten k√∂nnen mehr als einen Wert haben (Arrays)
- Datens√§tze k√∂nnen eine verschachtelte Struktur haben
- Zur Darstellung der ‚ÄûDokumente" wird meist *JSON* verwendet

- Popul√§rste Systeme: MongoDB | Amazon DynamoDB | Databricks | Azure Cosmos DB | Couchbase

## Key-Value Datenbanken 

*Key-Value Stores* sind die wohl einfachste Form von Datenbankmanagementsystemen
- Sie k√∂nnen lediglich Paare von Schl√ºsseln und Werten abspeichern, sowie die Werte anhand des Schl√ºssels wieder zur√ºckliefern
- Damit √§hneln sie dem *dict* in Python
- Diese Einfachheit macht sie attraktiv f√ºr:
  - Ressourcenbegrenzte Systeme wie embedded PCs
  - Entwicklung von Web-Interfaces

- Popul√§rste Systeme: Redis | Amazon DynamoDB | Azure Cosmos DB | Memcached | Hazelcast

## Suchmaschinen Datenbanken 

*Suchmaschinen* sind NoSQL DBMS spezialisiert auf die Suche nach Dateninhalten wie Text:

- Features
    - Unterst√ºtzung komplexer Suchbegriffe
    - Volltextsuche
    - Stemming (Stammformreduktion eines Wortes)
    - Ergebnisreihung
    - Gruppierung von Suchergebnissen
    - Verteilte Suche f√ºr hohe Skalierbarkeit

- Popul√§rste Systeme: Elasticsearch | Splunk | Solr | OpenSearch | MarkLogic

## Graphdatenbanken 

*Graph DBMS* stellen Datens√§tze in Form von *Knoten (Nodes)* und *Beziehungen (Edges)* zueinander dar
- Sie erm√∂glichen insbesondere die *Modellierung von Verbindungen*
- Ideal f√ºr Netzwerkanalysen, soziale Netzwerke, Empfehlungssysteme
- Popul√§rste Systeme: Neo4j | Microsoft Azure Cosmos DB | Virtuoso | IBM KITT

## Datenbanken Typen in der Vorlesung 

- Fokus auf: *Relationale DB* (71.9%)
    - Einfach zu benutzen
    - Meist verbreitet
    - Solide Grundlage

- Auch: Key-Value DB:
    - Einfache Konzepte
    - Praktische √úbungen

## Datenbanken in Python 

<div class="flex-row">
  <div class="col1">

- Zugriff √ºber jeweils passende Bibliothek der Datenbank
- Oracle, Redis, MongoDB, etc.

  </div>
  <div class="col1"> 
    <figure class="mj-fig">

```python
from replit import db

# Daten speichern
db["entry"] = 5

# Daten abrufen
value = db["entry"]
print(value)  # Output: 5
```

  </div>
</div>

## Relationale Datenbanken

<script>setSectionBackground('#E2F0D9');</script>
<div class="flex-row">
  <div class="col4 vcent">

  </div>
  <div class="col6"> 
    <figure class="mj-fig">
        <img src="images/10_Datenbanken/mj_databank2.png" class="mj-fig-img">
        <figcaption class="mj-fig-cap">
            Midjourney: Relational Database
        </figcaption>
    </figure>
  </div>
</div>

## Relationale Datenbanken - Grundkonzepte

<div class="flex-row">
  <div class="col1">

- Daten sind in Tabellenstrukturen (Schemata) organisiert
- *Relation* ist hierbei der Begriff f√ºr eine Tabelle
- Eine *relationale Datenbank* ist eine Menge von Tabellen

  </div>
  <div class="col1"> 

| Spalte 1 | Spalte 2 | Spalte 3 |
|----------|----------|----------|
| Zeile 1  | ...      | ...      |
| Zeile 2  | ...      | ...      |

  </div>
</div>

## Relationale Datenbanken - Grundbegriffe

<div class="flex-row">
  <div class="col1">

- Jede Tabelle hat einen *Relationennamen* (Tabellennamen)
- *Relation* steht f√ºr die Gesamtheit der Datentupel (Alle Zeilen)
- Jedes *Tupel* an Daten besteht aus einer Abfolge von Attributwerten (Einzelne Zeile)
- Reihenfolge festgelegt durch *Relationenschema* (Spaltennamen)

  </div>
  <div class="col1"> 

| Attribut 1   | Attribut 2 | Attribut 3 |
|--------------|------------|------------|
| Attributwert |     ...    |     ...    |
| Attributwert |     ...    |     ...    |

  </div>
</div>

## Beispiel: OpenData Hanse-Stadt Rostock

Informationen sind meist √ºber verschiedene Tabellen verteilt und m√ºssen oft zusammengef√ºhrt verarbeitet werden, um daraus anwendbares Wissen abzuleiten.

- Beispiel: https://www.opendata-hro.de
    - Bebauungspl√§ne
    - Gemeinden  
    - Baustellen
    - Bodenrichtwerte
    - Adressenliste

## Schl√ºsselattribute

<div class="flex-row">
  <div class="col1">

- Gewisse *Attribute (Spalten)* k√∂nnen als *Schl√ºssel* markiert werden
- Schl√ºssel sind meist *eindeutig (unique)* zuordenbar
- Sie existieren in der Tabelle nur *einmal*
- Man kann damit die *Zeile (Tupel) identifizieren*
- Zeilennummern eignen sich nicht (k√∂nnen gel√∂scht werden)

  </div>
  <div class="col1"> 

Schl√ºsseltypen:
- *Einzelnes Attribut* oder *Menge von Attributen*
- *Unique ID (UID)* - einzelnes Attribut
- *Globally Unique IDs (GUID)* - global eindeutig
- *UUID* (universally unique identifier) - ISO Standard

  </div>
</div>

## Schl√ºsselattribute - Beispiel

**Gemeinden Tabelle**

| GemeindeID | Name | Einwohner |
|------------|------|-----------|
| 1 | Dummerstorf | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz | 5.831 |

<br/> Schl√ºssel: GemeindeID

## Verweise √ºber Schl√ºssel

<div class="flex-row">
  <div class="col1">

**Gemeinden Tabelle**

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf  | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz       | 5.831 |

<br/> Prim√§rschl√ºssel: GemeindeID

  </div>
  <div class="col1"> 

**Bauwerke Tabelle**

| BauwerksID | Bauwerkstyp | GemeindeID |
|------------|-------------|------------|
| 5000       | Tankstelle  | 2 |
| 5001       | Hotel       | 1 |
| 5002       | Kirche      | 2 |


<br/> Fremdschl√ºssel: GemeindeID

  </div>
</div>

## Schl√ºsselkonzepte

- Die *Schl√ºssel anderer Tabellen* kann man nutzen um auf Tupel in diesen zu verweisen
- Die *eigenen Schl√ºssel* einer Tabelle hei√üen *Prim√§rschl√ºssel* (Primary Key)
- Die *Schl√ºssel anderer Tabellen* hei√üen *Fremdschl√ºssel* (Foreign Key)
- Die *Tabellen werden √ºber Schl√ºssel in Beziehung gesetzt*

> Der Fremdschl√ºssel verweist auf den Prim√§rschl√ºssel in der anderen Tabelle

## Die Rolle von Schl√ºsseln

Schl√ºssel definieren sogenannte Integrit√§tsbedingungen:

<div class="flex-row">
  <div class="col1">

**Prim√§rschl√ºssel**

- Stehen f√ºr die *Integrit√§t der einzelnen Tabelle*
- *Lokale Integrit√§t*

  </div>
  <div class="col1"> 

**Fremdschl√ºssel**

- Stehen f√ºr die *Integrit√§t des gesamten Datenbanksystems*
- *Globale Integrit√§t*

  </div>
</div>

## SQL - Structured Query Language

<script>setSectionBackground('#E2F0D9');</script>
<div class="flex-row">
  <div class="col4 vcent">

  </div>
  <div class="col6"> 
    <figure class="mj-fig">
        <img src="images/10_Datenbanken/mj_sql.png" class="mj-fig-img">
        <figcaption class="mj-fig-cap">
            Midjourney: Structured Query Language
        </figcaption>
    </figure>
  </div>
</div>

## Wie erh√§lt man Daten aus den Tabellen?

- Die Tabellen werden nicht wie Dateien sequentiell ausgelesen, sondern wir f√ºhren *Anfrageoperationen* aus
- Diese berechnen aus einer Menge an Tabellen eine neue *Ergebnistabelle*
- Diese Operationen sind dabei √§hnlich wie bekannte Rechenarten kombinierbar
- Wir nutzen also ein System aus Berechnungen √ºber Tabellen: eine *Relationenalgebra*

## Wie f√ºhren wir diese in der Praxis aus?

- Historisch haben sich hier eigene *Anfragesprachen* entwickelt, anstatt nur Zusatz-Funktionen und Bibliotheken in anderen Programmiersprachen
- Die popul√§rste dieser Sprachen ist die *Structured Query Language (SQL)*
- Hat eine Syntax die speziell auf die hier erlaubten Operationen ausgelegt ist
- Damit in der Anwendung deutlich fokussierter als Python

## SQL (Structured Query Language)

- *1975* SEQUEL = Structured English Query Language
- *seit 1986* SQL ANSI-Standard, seit 1987 ISO-Standard
- *1992* SQL 2 (SQL-92) neuer ISO-Standard
- *1999* SQL 3 (SQL:1999) neuer ISO-Standard
- *2016* SQL 7 (SQL:2011) neuer ISO-Standard
- *2019* SQL 9 (SQL:2019) stable release
- *SQL:2016* ISO/IEC 9075-1:2016 ist der derzeitige ISO-Standard

## Projektion

<div class="flex-row">
  <div class="col1">

- Gegeben sei die Relation Gemeinden {GemeindeID, Name, Einwohner}
- *Projektion* bedeutet das Ausw√§hlen bestimmter Spalten durch explizite Auflistung
- Beispiel: GemeindeID, Name

  </div>
  <div class="col1"> 

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf  | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz       | 5.831 |

  </div>
</div>

## Projektion - in SQL

<div class="flex-row">
  <div class="col1">

*Syntax:*
```sql
SELECT ‚Ä¶ FROM ‚Ä¶
```

<br/>
- *SELECT* ‚Äì Selektiert die ben√∂tigten Spalten (mit * werden alle Spalten gew√§hlt)
- *FROM* ‚Äì Legt die Relationen fest, aus denen selektiert wird

<br/>
```sql
SELECT GemeindeID, Name 
FROM Gemeinden
```

  </div>
  <div class="col1"> 

*Ergebnis:*
<br/>

| GemeindeID | Name |
|---|--------------|
| 1 | Dummerstorf |
| 2 | Graal-M√ºritz |
| 3 | Sanitz |

  </div>
</div>

## Selektion

<div class="flex-row">
  <div class="col1">

- *Selektion* bedeutet das Ausw√§hlen bestimmter Zeilen anhand einer Bedingung
- F√ºr die Bedingungen werden wie gehabt Vergleichsoperatoren genutzt
- Bedingung: Einwohner > 5000

  </div>
  <div class="col1"> 

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf | 7.329 |
| ~~2~~ | ~~Graal-M√ºritz~~ | ~~4.278~~ |
| 3 | Sanitz | 5.831 |

  </div>
</div>

## Selektion - in SQL

<div class="flex-row">
  <div class="col1">

*Syntax:*
```sql
SELECT ‚Ä¶ FROM ‚Ä¶ WHERE ‚Ä¶
```

<br/>
- *WHERE* ‚Äì Filtert in den ausgew√§hlten Tabellen nach bestimmten Bedingungen

<br/>
*Beispiel:*
```sql
SELECT * FROM Gemeinden 
WHERE Einwohner > 5000
```

  </div>
  <div class="col1"> 

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf | 7.329 |
| 3 | Sanitz | 5.831 |

  </div>
</div>

## Nat√ºrlicher Verbund


Bei einem *JOIN* kombinieren wir die Eintr√§ge aus beiden Tabellen da wo immer Fremdschl√ºssel und Prim√§rschl√ºssel √ºbereinstimmen

<div class="flex-row">
  <div class="col1">

**Gemeinden Tabelle**

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf  | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz       | 5.831 |

<br/> Prim√§rschl√ºssel: GemeindeID

  </div>
  <div class="col1"> 

**Bauwerke Tabelle**

| BauwerksID | Bauwerkstyp | GemeindeID |
|------------|-------------|------------|
| 5000       | Tankstelle  | 2 |
| 5001       | Hotel       | 1 |
| 5002       | Kirche      | 2 |


<br/> Fremdschl√ºssel: GemeindeID

  </div>
</div>

## Nat√ºrlicher Verbund - Ergebnis

Verkn√ºpfung von Tabellen durch √ºbereinstimmende Spalten:

<div class="flex-row">
  <div class="col1">

**Gemeinden Tabelle**

| GemeindeID | Name | Einwohner |
|---|--------------|-------|
| 1 | Dummerstorf  | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz       | 5.831 |

<br/> Prim√§rschl√ºssel: GemeindeID

  </div>
  <div class="col1"> 

**Bauwerke Tabelle**

| BauwerksID | Bauwerkstyp | GemeindeID |
|------------|-------------|------------|
| 5000       | Tankstelle  | 2 |
| 5001       | Hotel       | 1 |
| 5002       | Kirche      | 2 |


<br/> Fremdschl√ºssel: GemeindeID

  </div>
</div>

Ergebnis<br/>

| BauwerksID | Bauwerkstyp | GemeindeID | Name | Einwohner |
|--|--|--|--|--|
| 5000 | Tankstelle | 2 | Graal-M√ºritz | 4.278 |
| 5001 | Hotel | 1 | Dummerstorf | 7.329 |
| 5002 | Kirche | 2 | Graal-M√ºritz | 4.278 |

*Wichtig:* Tupel, deren Attributwert in der jeweiligen Spalte der anderen Relation nicht auftaucht, werden auch in der Ergebnistabelle nicht auftauchen.

Im Beispiel: Sanitz taucht im Ergebnis nicht auf, weil keines der vorhandenen Bauwerke hier gebaut ist.

## Nat√ºrlicher Verbund - in SQL

*Syntax:*
```sql
SELECT ‚Ä¶ FROM ‚Ä¶ NATURAL JOIN
```

<br/>
- *NATURAL JOIN* ‚Äì Verbindet zwei Tabellen √ºber den nat√ºrlichen Verbund

<br/>
*Beispiel:*
```sql
SELECT * FROM Bauwerke 
NATURAL JOIN Gemeinden
```

## Weitere Verbundformen in SQL

*Kreuzprodukt:*
```sql
SELECT ‚Ä¶ FROM Table1, Table2
```

<br/>
- Separiert man statt mit NATURAL JOIN mit einem Komma, wird ein *Kreuzprodukt* gebildet ‚Äì alle Zeilen werden mit allen Zeilen verbunden!

<br/>
*Sinnvoll um mehrere Tabellen nach bestimmten Bedingungen zu kombinieren:*
```sql
SELECT ‚Ä¶ FROM Table1, Table2 
WHERE Table1.Foreign = Table2.Primary
```

Kann damit auch den Nat√ºrlichen Verbund erzeugen

## Umbenennung

<div class="flex-row">
  <div class="col1">

- Manchmal haben die gleichen Attributwerte in verschiedenen Tabellen verschiedene Bedeutungen, besonders beim Erzeugen von Verbunden
- Gegeben Relation Bauwerke {BauwerksID, Bauwerkstyp, Name}
- Verbund: Bauwerke √ó Gemeinden
- Spalten: BauwerksID, Bauwerkstyp, Name
- *Umbenennung:* Name ‚Üí Gemeindename

  </div>
  <div class="col1"> 

| BauwerksID | Bauwerkstyp | Gemeindename |
|------|------------|--------------|
| 5000 | Tankstelle | Graal-M√ºritz |
| 5001 | Hotel      | Dummerstorf |
| 5002 | Kirche     | Graal-M√ºritz |

  </div>
</div>

## Umbenennung - in SQL

*Mit `AS` Keyword:*
```sql
SELECT tbl1.attr1 AS Identifikationsnummer 
FROM Table1 AS tbl1
```

<br/>
*Das Beispiel von vorhin:*
```sql
SELECT BauwerksID, Bauwerkstyp, Name AS Gemeindename
FROM Bauwerke
NATURAL JOIN Gemeinden
```

<br/>
Sowohl im `SELECT` als auch im `FROM` m√∂glich durch die Nutzung des `AS` Keywords

## Aggregatfunktionen

<div class="flex-row">
  <div class="col1">

- Fassen Spaltenwerte nach einer bestimmten Vorgehensweise zusammen
- Bilden dabei standardm√§√üig eine 1√ó1 Tabelle als Ergebnis
- Soll mehr als nur ein Wert erscheinen, muss nach einer bestimmten Bedingung aggregiert werden
- Gibt es eine Bedingung, repr√§sentieren die Zeilen verschiedene F√§lle
- *H√§ufige Aggregatfunktionen:* Summenbildungen oder Z√§hlungen

  </div>
  <div class="col1"> 

| GemeindeID | Name | Einwohner |
|--|--|--|
| 1 | Dummerstorf | 7.329 |
| 2 | Graal-M√ºritz | 4.278 |
| 3 | Sanitz | 5.831 |

<br/>
*Summe: 17.438*

  </div>
</div>

## Aggregatfunktionen - in SQL

<div class="flex-row">
  <div class="col1">

*COUNT-Funktion* z√§hlt die Anzahl der Zeilen:
```sql
SELECT COUNT(GemeindeID) FROM Gemeinden
```

  </div>
  <div class="col1"> 

    *COUNT: 3*

  </div>
</div>

<div class="flex-row">
  <div class="col1">

*SUM-Funktion* summiert eine Spalte numerisch auf:
```sql
SELECT SUM(Einwohner) FROM Gemeinden
```

  </div>
  <div class="col1"> 

    *SUM: 17.438*

  </div>
</div>

## Bedingte Aggregation - in SQL

- Aggregiert man nach einem bestimmten Attribut, dann werden nur jeweils jene Tupel zusammengefasst (summiert, gez√§hlt, gemittelt,‚Ä¶) die den gleichen Attributwert haben
- Hierf√ºr ist in SQL der `GROUP BY` Befehl zust√§ndig

*Beispiel:* Eine Tabelle Mitarbeiter enth√§lt Honorarzahlungen an Mitarbeiter, pro Zahlung ist dabei eine Zeile angelegt. Man will nun das gemittelte Honorar f√ºr jeden Mitarbeiter ausgeben lassen.

Gegeben die Relation Mitarbeiter{MitarbeiterID, Name, Honorar}

```sql
SELECT MitarbeiterID, Name, AVG(Honorar) 
FROM Mitarbeiter
GROUP BY MitarbeiterID
```

## Weitere Operationen: Sortierung & Anzahl

*Sortierung:*
```sql
SELECT * FROM Gemeinden 
ORDER BY Einwohner DESC
```

<br/>
- `ORDER BY` mit `ASC` (aufsteigend) oder `DESC` (absteigend)

<br/>
*Begrenzung der Ergebnismenge:*
```sql
SELECT * FROM Gemeinden 
ORDER BY Einwohner DESC 
LIMIT 2
```

<br/>
- `LIMIT` schneidet die Ergebnistabelle nach einer gewissen Anzahl an Elementen ab
- Hier: Die zwei Gemeinden mit der h√∂chsten Einwohnerzahl

## Kombination von Bedingungen

Bedingungen k√∂nnen wie in Python mit `AND` und `OR` kombiniert werden:

<div class="flex-row">
  <div class="col1">

```sql
SELECT * FROM Bauwerke 
NATURAL JOIN Gemeinden
WHERE Einwohner > 5000 AND Bauwerkstyp = "Hotel"
```

  </div>
  <div class="col1"> 

*Ergebnis:*
| BauwerksID | Bauwerkstyp | GemeindeID | Name | Einwohner |
|--|--|--|--|--|
| 5001 | Hotel | 1 | Dummerstorf | 7.329 |

  </div>
</div>

## Ausblick: SQL - Mehr als eine Anfragesprache

*Bisher:* Nur ein einzelner Aspekt von SQL (`SELECT` ‚Ä¶)

SQL bietet weit mehr Funktionalit√§ten:
- *DML (Data Manipulation Language):*
  - Daten aus Tabellen anfragen und modifizieren (`SELECT, UPDATE, DELETE` ...)

- *DDL (Data Definition Language):*
  - Definieren und Verwalten von Schemas und Tabellen (`CREATE, ALTER, DROP` ‚Ä¶)

- *DCL (Data Control Language):*
  - Nutzerzugriffsrechte (`GRANT, REVOKE` ‚Ä¶)
  - Kontrollieren von Transaktionen (`COMMIT, ROLLBACK` ‚Ä¶)

## Quiz


```{quizdown}
    ---
    shuffleQuestions: true
    shuffleAnswers: true
    ---

    ### Welche Python-Pakete werden zum Laden von CSV-Daten aus dem Internet verwendet?

    - [x] `urllib` und `pandas`
    - [ ] `requests` und `numpy`
    - [ ] `json` und `matplotlib`
    - [ ] `sqlite3` und `os`

    ### Was ist SQL?
    - [x] Eine Sprache zur Abfrage und Manipulation von Datenbanken
    - [ ] Ein Programm zur Datenvisualisierung
    - [ ] Eine Programmiersprache wie Python
    - [ ] Ein Datenformat wie JSON

    ### Was ist SQLite?

    - [x] Eine lokale relationale Datenbank ohne Server
    - [ ] Ein Cloud-Datenbank-Service
    - [ ] Ein NoSQL-Datenbanksystem
    - [ ] Ein Datenvisualisierungstool

    ### Sortiere die folgenden Zeilen f√ºr das Speichern einer Pandas-Tabelle in SQLite:

    ```python
    import sqlite3
    import pandas as pd
    ```
    1. `df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})`
    2. `con = sqlite3.connect("test.sqlite")`
    3. `df.to_sql("tabelle", con, if_exists="replace")`

    ### Welcher Fehler steckt in diesem Beispiel?

    ```python
    con = sqlite3.connect("test.sqlite")
    df.to_sql("tabelle", con, if_exists="append")
    ```

    - [ ] `sqlite3` ist nicht importiert
    - [ ] Der Datenbankname ist zu kurz
    - [x] Kein Fehler - der Code ist korrekt
    - [ ] `to_sql` existiert nicht

    ### Was macht der SQL-Befehl `SELECT * FROM baustellen;`?

    - [ ] L√∂scht alle Daten aus der Tabelle
    - [x] Gibt alle Spalten und Zeilen der Tabelle zur√ºck
    - [ ] Erstellt eine neue Tabelle
    - [ ] Z√§hlt die Zeilen in der Tabelle


    ### Wie f√ºhrt man einen SQL-Befehl in Python aus?

    - [x] Mit `cur.execute(sql)` nach Erstellung eines Cursors
    - [ ] Mit `con.run(sql)`
    - [ ] Mit `sqlite3.query(sql)`
    - [ ] Mit `pd.sql(sql)`


    ### Sortiere die folgenden Zeilen f√ºr eine SQL-Abfrage:

    ```python
    con = sqlite3.connect("test.sqlite")
    ```

    1. `cur = con.cursor()`
    2. `sql = 'SELECT * FROM tabelle;'`
    3. `for row in cur.execute(sql):`
    4. `    print(row)`

    ### Welcher SQL-Befehl filtert Baustellen mit Baubeginn ab 2023?

    - [ ] `FILTER baubeginn >= '2023-01-01'`
    - [x] `WHERE baubeginn >= '2023-01-01 00:00:00+01'`
    - [ ] `IF baubeginn >= '2023-01-01'`
    - [ ] `SELECT baubeginn >= '2023-01-01'`

    ### Wie verkn√ºpft man mehrere Bedingungen in SQL?

    - [x] Mit `AND`, `OR`, `NOT`
    - [ ] Mit `&&`, `||`, `!`
    - [ ] Mit `+`, `-`, `*`
    - [ ] Mit `COMBINE`, `MERGE`, `JOIN`


    ### Welcher Fehler steckt in diesem SQL-Beispiel?

    ```sql
    SELECT * FROM baustellen
    WHERE baubeginn = '2023-01-01' AND bauende = '2024-01-01'
    ```

    - [ ] `AND` ist nicht erlaubt
    - [ ] Datumsformat ist falsch
    - [x] Kein Fehler - der Code ist korrekt
    - [ ] `WHERE` muss am Ende stehen


    ### Was macht die SQL-Funktion `count(*)`?

    - [ ] Summiert alle Werte
    - [x] Z√§hlt die Anzahl der Zeilen
    - [ ] Findet den Maximalwert
    - [ ] Berechnet den Durchschnitt


    ### Welche Aggregatfunktionen gibt es in SQL?

    - [x] `min()`, `max()`, `avg()`, `sum()`, `count()`
    - [ ] `first()`, `last()`, `middle()`
    - [ ] `add()`, `subtract()`, `multiply()`
    - [ ] `top()`, `bottom()`, `center()`


    ### Sortiere die folgenden Teile einer SQL-Aggregationsabfrage:

    1. `SELECT sparte, count(*), avg(baudauer)`
    2. `FROM baustellen`
    3. `GROUP BY sparte`


    ### Was macht `GROUP BY sparte` in einer SQL-Abfrage?

    - [ ] Sortiert nach Sparte
    - [x] Fasst Zeilen mit gleicher Sparte zusammen
    - [ ] Filtert nach Sparte
    - [ ] L√∂scht doppelte Sparten


    ### Wie sortiert man Ergebnisse in SQL absteigend?

    - [ ] `SORT BY spalte DOWN`
    - [x] `ORDER BY spalte DESC`
    - [ ] `ARRANGE BY spalte REVERSE`
    - [ ] `DESCEND BY spalte`


    ### Was bewirkt `LIMIT 3` in einer SQL-Abfrage?

    - [ ] Begrenzt auf 3 Spalten
    - [x] Gibt maximal 3 Ergebniszeilen zur√ºck
    - [ ] Sortiert die ersten 3 Eintr√§ge
    - [ ] Filtert nach Werten kleiner 3


    ### Welcher Fehler steckt in diesem SQL-Beispiel?

    ```sql
    SELECT sparte, count(*)
    FROM baustellen
    ORDER BY count(*)
    GROUP BY sparte
    ```

    - [x] `ORDER BY` muss nach `GROUP BY` stehen
    - [ ] `count(*)` kann nicht sortiert werden
    - [ ] `GROUP BY` ist falsch positioniert
    - [ ] Es fehlt ein `WHERE`


    ### Was macht ein `JOIN` in SQL?

    - [ ] Kombiniert Spalten einer Tabelle
    - [x] Verkn√ºpft Daten aus mehreren Tabellen
    - [ ] Sortiert Tabellendaten
    - [ ] L√∂scht doppelte Eintr√§ge


    ### Warum verwendet man Tabellenpr√§fixe wie `b.spalte` bei JOINs?

    - [ ] Zur Versch√∂nerung des Codes
    - [x] Zur eindeutigen Identifikation bei gleichnamigen Spalten
    - [ ] Zur Beschleunigung der Abfrage
    - [ ] Zur Fehlerbehandlung


    ### Was macht `DISTINCT` in einer SQL-Abfrage?

    - [ ] Sortiert die Ergebnisse
    - [ ] Begrenzt die Anzahl der Ergebnisse
    - [x] Entfernt doppelte Zeilen aus den Ergebnissen
    - [ ] Verbindet mehrere Tabellen

    ### Was ist der Unterschied zwischen INNER JOIN und LEFT JOIN?
    - [x] INNER JOIN gibt nur √ºbereinstimmende Zeilen zur√ºck, LEFT JOIN alle Zeilen der linken Tabelle
    - [ ] LEFT JOIN gibt nur √ºbereinstimmende Zeilen zur√ºck, INNER JOIN alle Zeilen der linken Tabelle
    - [ ] Es gibt keinen Unterschied, beide sind gleich
    - [ ] INNER JOIN ist schneller als LEFT JOIN


    ### Sortiere die folgenden Teile einer JOIN-Abfrage:

    1. `SELECT b.spalte1, a.spalte2`
    2. `FROM baustellen AS b`
    3. `JOIN adressenliste AS a`
    4. `WHERE b.id = a.id`


    ### Was ist der Unterschied zwischen verschiedenen JOIN-Typen?

    - [x] Sie bestimmen, welche Zeilen bei fehlenden √úbereinstimmungen zur√ºckgegeben werden
    - [ ] Sie beeinflussen die Geschwindigkeit der Abfrage
    - [ ] Sie √§ndern die Sortierung der Ergebnisse
    - [ ] Sie bestimmen die Anzahl der verkn√ºpften Tabellen


    ### Welcher Fehler steckt in diesem JOIN-Beispiel?

    ```sql
    SELECT * FROM baustellen
    NATURAL JOIN adressenliste, gemeinden
    ```

    - [ ] `NATURAL JOIN` existiert nicht
    - [ ] Zu viele Tabellen im JOIN
    - [x] Potentielle Kreuzverkn√ºpfung durch mehrere Tabellen ohne explizite Bedingungen
    - [ ] Falsche Syntax bei `NATURAL JOIN`


```

<div class="vslide">
  <div class="vslide-title">
    <p style="font-family: Protomolecule; font-size: 2.3em; margin: 0px auto; text-align: center; width: 100%;">fragen?</p>
  </div>
  <script>setSectionBackground('#000000', 'images/mj_questions.mp4');</script>
</div>